.gridContainer1 {
  display: grid;
  grid-template-areas:
    "design design design design design design"
    "theme theme theme performance performance performance"
    "theme theme theme options options options"
    "plugins plugins plugins options options options";
  gap: 20px;
  padding: 10px;
}

.item1 {
  grid-area: design;
}
.item2 {
  grid-area: theme;
}
.item3 {
  grid-area: performance;
}
.item4 {
  grid-area: plugins;
}
.item5 {
  grid-area: options;
}

.gridContainer2 {
  display: grid;
  grid-template-areas:
    "carousel carousel demo demo theme theme"
    "item item demo demo theme theme"
    "item item demo demo code code"
    "item item demo demo code code";
  gap: 20px;
  padding: 10px;
}

.item6 {
  grid-area: carousel;
}
.item7 {
  grid-area: demo;
}
.item8 {
  grid-area: theme;
}
.item9 {
  grid-area: item;
}
.item10 {
  grid-area: code;
}

.itemsCenteredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollDown {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollUp {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.scrollport {
  background: linear-gradient(to right, #0000, #000, #000, #0000);

  overflow-x: auto;
  /* overscroll-behavior-x: contain; */
  position: relative;
  display: flex;
  
  gap: 10rem;
  /* align-items: flex-start; */
  padding: 5rem;
  width: 100%;
}

.items {
  block-size: 20rem;
  aspect-ratio: 1 / 1;
  background-color: #343434;
  border-radius: 10%;
  box-shadow: 2px 2px 5px black;
}

.itemActive {
  block-size: 22rem;
  background-color: #717171;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  /* transform: translateX(-10px); */
}
